.table {
  border-spacing: 0.25rem;
  border-collapse: separate;

  background-color: var(--blue-6);
  border-radius: 0.5rem;
  border: 2px solid var(--amber-4);

  box-sizing: border-box;
  transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    border: 2px solid var(--amber-1);
  }

  th {
    font-weight: bold;
  }

  td {
    text-align: center;
  }

  tbody {
    display: block;
    max-height: 600px;
    overflow-y: scroll;
  }

  thead {
    width: calc(100% - 1rem);
    display: table;
    table-layout: fixed;
    position: relative;
  }

  thead:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    margin-left: 1rem;
    margin-right: 2rem;
    width: calc(100% - 3rem);
    border-bottom: 2px solid var(--amber-4);
  }

  tbody tr {
    width: 100%;
    display: table;
    table-layout: fixed;
  }
}