:root {
  --blue-6: hsl(220, 40%, 10%);
  --blue-5: hsl(215, 50%, 15%);
  --blue-4: hsl(210, 60%, 20%);
  --blue-3: hsl(205, 70%, 25%);
  --blue-2: hsl(200, 80%, 30%);
  --blue-1: hsl(200, 90%, 35%);

  --amber-6: hsl(30, 40%, 10%);
  --amber-5: hsl(30, 50%, 15%);
  --amber-4: hsl(30, 60%, 20%);
  --amber-3: hsl(30, 70%, 25%);
  --amber-2: hsl(30, 80%, 30%);
  --amber-1: hsl(30, 90%, 35%);
}
