main {
  display: inline-flex;
  align-content: start;
  padding: 1rem;
  flex-wrap: wrap;
  column-gap: 2rem;
  row-gap: 2rem;

  @media (min-width: 600px) and (max-width: 1024px) {
    .article-box {
      &:first-child {
        flex-basis: 100%;
      }
    }
  }

  @media (max-width: 600px) {
    .article-box {
      flex-basis: 100%;
    }
  }
}

.article-box {
  flex: 1 1;
  outline: 2px solid;

  legend {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0.5rem 3rem 0.5rem 3rem;
    margin-left: auto;
    border-left: 2px solid;
    border-bottom: 2px solid;
    font-size: 1.5rem;
    min-width: 4rem;
  }

  div {
    padding: 2rem;
  }
}